<h1>Listing admins</h1>

<table>
  <tr>
    <th>Adminitradorid</th>
    <th>Empleadoid</th>
    <th>Descripcion</th>
    <th>Metodoautenticacion</th>
    <th>Nombreusuario</th>
    <th>Contrasena</th>
    <th>Servidorldapid</th>
    <th>Cncertificado</th>
    <th>Activo</th>
    <th>Hash31</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @admins.each do |admin| %>
  <tr>
    <td><%= admin.administradorid %></td>
    <td><%= admin.empleadoid %></td>
    <td><%= admin.descripcion %></td>
    <td><%= admin.metodoautenticacion %></td>
    <td><%= admin.nombreusuario %></td>
    <td><%= admin.contrasena %></td>
    <td><%= admin.servidorldapid %></td>
    <td><%= admin.cncertificado %></td>
    <td><%= admin.activo %></td>
    <td><%= admin.hash31 %></td>
    <td><%= link_to 'Show', admin %></td>
    <td><%= link_to 'Edit', edit_admin_path(admin) %></td>
    <td><%= link_to 'Destroy', admin, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Admin', new_admin_path %>
