<p id="notice"><%= notice %></p>

<p>
  <b>Administradorid:</b>
  <%= @admin.administradorid %>
</p>

<p>
  <b>Empleadoid:</b>
  <%= @admin.empleadoid %>
</p>

<p>
  <b>Descripcion:</b>
  <%= @admin.descripcion %>
</p>

<p>
  <b>Metodoautenticacion:</b>
  <%= @admin.metodoautenticacion %>
</p>

<p>
  <b>Nombreusuario:</b>
  <%= @admin.nombreusuario %>
</p>

<p>
  <b>Contrasena:</b>
  <%= @admin.contrasena %>
</p>

<p>
  <b>Servidorldapid:</b>
  <%= @admin.servidorldapid %>
</p>

<p>
  <b>Cncertificado:</b>
  <%= @admin.cncertificado %>
</p>

<p>
  <b>Activo:</b>
  <%= @admin.activo %>
</p>

<p>
  <b>Hash31:</b>
  <%= @admin.hash31 %>
</p>


<%= link_to 'Edit', edit_admin_path(@admin) %> |
<%= link_to 'Back', admins_path %>
