<table>
  <tr>
    <th>Departamentoid</th>
    <th>Nombredepartamento</th>
    <th>Descripcion</th>
    <th>Metadepartamento</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @departamentos.each do |departamento| %>
  <tr>
    <td><%= departamento.departamentoid %></td>
    <td><%= departamento.nombredepartamento %></td>
    <td><%= departamento.descripcion %></td>
    <td><%= departamento.metadepartamento %></td>
    <td><%= link_to 'Show', departamento %></td>
    <td><%= link_to 'Edit', edit_departamento_path(departamento) %></td>
    <td><%= link_to 'Destroy', departamento, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Departamento', new_departamento_path %>
